//! **************************************************************************
// Written by: Map P.20131013 on Thu Sep 28 09:47:25 2017
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "controle<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "controle<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "controle<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "controle<3>" LOCATE = SITE "P17" LEVEL 1;
COMP "display<0>" LOCATE = SITE "T17" LEVEL 1;
COMP "display<1>" LOCATE = SITE "T18" LEVEL 1;
COMP "display<2>" LOCATE = SITE "U17" LEVEL 1;
COMP "display<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "display<4>" LOCATE = SITE "M14" LEVEL 1;
COMP "display<5>" LOCATE = SITE "N14" LEVEL 1;
COMP "display<6>" LOCATE = SITE "L14" LEVEL 1;
SCHEMATIC END;

