NET "clk" loc = 'V10';



NET "display[0]" loc = T17;
NET "display[1]" loc = T18;
NET "display[2]" loc = U17;
NET "display[3]" loc = U18;
NET "display[4]" loc = M14;
NET "display[5]" loc = N14;
NET "display[6]" loc = L14;

NET "controle[0]" loc = N16;
NET "controle[1]" loc = N15;
NET "controle[2]" loc = P18;
NET "controle[3]" loc = P17;


